html, body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
}

h1, h2, h3 {
    text-align: center;
}

h2.error {
    color: red;
}

div {
    width: 50vw;
    height: auto;
    margin: auto;
    border: 5px groove #8bcb67;
    border-radius: 8px;
}

p {
    margin-left: 1.5vw;
    text-align: left;
}

b {
    font-size: medium;
}

input {
    width: calc(50vw - 3vw - 3px);
}

form.radio {
    margin-left: 1.5vw;
}

input.radio {
    width: auto;
}