html, body {
    height: 100%;
}

div.divide {
    display: flex;
}

div.left {
    display: grid;
    width: auto;
    align-self: flex-start;
    grid-template-rows: 30px 30px 30px 30px 30px 30px;
}

div.right {
    width: auto;
    line-height: 0.2em;
    margin-left: 10px;
}

input.menu {
    width: 200px;
    margin: auto;
}