html, body {
    height: 100%;
}

div.divide {
    display: flex;
}

div.left {
    display: grid;
    width: auto;
    align-self: flex-start;
    grid-template-rows: 40px 40px 40px 40px 40px 40px;
}

div.right {
    width: auto;
    line-height: 0.2em;
    margin-left: 10px;
}

div.grid {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: auto;
    padding-bottom: 20px;
}

div.part {
    display: grid;
    width: 500px;
    min-height: 40px;
    max-height: 75px;
    grid-template-columns: auto auto auto;
    border: 3px solid #8bcb67;
    border-radius: 3px;
}

img.s {
    min-width: 40px;
    max-width: 75px;
    min-height: 40px;
    max-height: 75px;
}

img.p {
    min-width: 150px;
    max-width: 200px;
    min-height: 150px;
    max-height: 300px;
}

input.menu {
    width: 200px;
    margin: auto;
}