// User info form
html
    head
        style
            include css/userFrom.css
    body
        div.main
            div.menu
                h1 Menu
            div.info
                div.photo
                    img(src=photo_url alt='Avatar')
                div.users
                    span.name #{firstName} #{lastName}
                    if (status)
                        br
                        span.status #{status}