html
    head
        style
            include ../css/registerForm.css
    body
        div
            h1 Welcome
            br
            a(href='/login')
                button #{log_in}
            a(href='/join')
                button #{join_in}