html
    head
        style
            include ../css/registerForm.css
        script(src="/api/js?file=rsa.js")
        script(src="/api/js?file=base.js")
    body
        div
            h1 #{welcome}
            br
            a(href='/login')
                button #{log_in}
            a(href='/join')
                button #{join_in}